.listWrapper {
    margin-top: 150px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.listContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 60%;
    background-color: #f8f9fa;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.listContainer h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #343a40;
}

.p-datatable {
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-datatable .p-datatable-header {
    background-color: #343a40;
    color: #fff;
}
.p-datatable .p-datatable-tbody > tr {
    transition: background-color 0.3s;
}

.p-datatable .p-datatable-tbody > tr:hover {
    background-color: #f1f1f1;
}

.p-button-success.add-game-button {
    display: block;
    margin: 20px auto;
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
}

.positive-net-night {
    color: green;
}

.negative-net-night {
    color: red;
}

