.Login {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    padding-top: 20vh;
    background: url('../../../public/images/pexels-pavel-danilyuk-7594250.jpg') no-repeat center center fixed;
    background-size: cover;
}

.LoginForm {
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FormField {
    margin-bottom: 20px;
    width: 100%;
}

.FormField_Label {
    color: #0b0a0a;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.FormField_Input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.FormField_Input:focus {
    border-color: #007bff;
}

.FormField_Button {
    width: 100%;
    padding: 10px;
    background-color: #193c19;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.FormField_Button:hover {
    background-color: #42cc42;
}